{% extends 'base.html' %}

{% block content %}
<div class="container-fluid text-left">
<div class="row content">
  <div class="col-sm-4 font-color:#ffffff" >
    <p  style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>


    <div class="col-sm-4" >
      <h2>Мой профиль</h2>
      {% if user.is_lecturer == True %}<p>Преподаватель</p> {% else %} <p>Студент</p>{% endif %}
        <p>Почта: {{user.email}}</p>
        <p>Имя: {{user.first_name}} {{user.middle_name}} {{user.last_name}}</p>
        <p>Телефон: {{user.phone_number}}</p>
        {% if not user.is_lecturer %}
            {% if not user.group_key %}

                <form method="POST">
                <select name="select_gr">
                {% for g in grs %}
                    <option value="{{ g.number }}">{{ g.number }}</option>
                {% endfor %}
                </select>
                <button id="create_group" type="button">Создать группу </button>
                </form>
            {% else %}
                {% if user.group_key.starosta_id.id == user.id %}
                    <p>Группа:
                    <a href="{{user.group_key.get_absolute_url}}">{{user.group_key.number}} (Староста)</a>
                    </p>
                {% else %}
                    <p>Группа:
                    <a href="{{user.group_key.get_absolute_url}}">{{user.group_key.number}}</a>
                    user
                    </p>
                {% endif %}

                <button id="myClickButton" type="button">Отсоединиться от группы:</button>
            {% endif %}
        {% endif %}
        <script>
            var csrf_token = '{% csrf_token %}';
            $("#create_gr").click( function() {
                alert($("#select_gr").val())
                $.post("create_group", {'group' : $("#select_gr").val()}, function (data) {
                    alert(data)
                });
            });
        </script>
        <a class="btn btn-success" onclick="location.href='{% url 'profile_edit' %}'">Редактировать</a>
        <a class="btn btn-success" onclick="location.href='{% url 'my_courses' %}'">Мои курсы</a>
        <a class="btn btn-success" onclick="location.href='{% url 'list_of_groups' %}'">Список групп</a>
    </div>

    <div class="col-sm-4 font-color:#ffffff" >
      <p  style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
</div>
{% endblock %}
