{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container-fluid text-right" style = "padding-bottom: 20px">
<div class="row content">
    <div class="col-sm-2" >
    </div>


    <div class="col-sm-6" >
      <h2>Введите данные учетной записи</h2>
      <form method="post">
      {% if error %}<p><strong>Пользователь с таким адресом электронной почты уже зарегистрирован</strong></p>{% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Зарегистрироваться</button>
      <button class="btn btn-success" type="button" onclick="javascript:history.go(-1);">Отмена</button>
      </form>
    </div>

    <div class="col-sm-3 font-color:#ffffff" >
      <p  style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
</div>
{% endblock %}
